# Predict if client will Subscribe or not

In [76]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [92]:
data = pd.read_csv('train.csv')

In [94]:
data['subscribed'].replace('no',0 ,inplace=True)
data['subscribed'].replace('yes',1 ,inplace=True)

In [95]:
data.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,0
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,0
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,0
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,1
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,0

In [96]:
data['subscribed'].value_counts()

0    27932
1     3715
Name: subscribed, dtype: int64

In [97]:
train = data.drop('subscribed',1)

C:\Users\SUYOGM~1\AppData\Local\Temp/ipykernel_14548/2131736454.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  train = data.drop('subscribed',1)

In [98]:
train.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown

In [100]:
target = data['subscribed']

In [101]:
target.head()

0    0
1    0
2    0
3    1
4    0
Name: subscribed, dtype: int64

In [102]:
train=pd.get_dummies(train)

In [103]:
from sklearn.model_selection import train_test_split

In [111]:
# splitting into train and validation with 20% data in validation set and 80% data in train set.
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size = 0.2, random_state=12)

In [112]:
X_val.head()

,ID,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
21740,13242,45,146,8,216,1,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24830,14543,52,-36,15,199,4,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17960,12219,56,778,20,32,4,-1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
10489,25448,55,6043,19,427,3,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
27173,29748,30,1028,4,1294,2,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [88]:
from sklearn.linear_model import LogisticRegression

In [89]:
logreg=LogisticRegression()

In [113]:
# fitting the model on  X_train and y_train
logreg.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [114]:
pred = logreg.predict(X_val)

In [115]:
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [116]:
logreg.score(X_val,y_val)

0.8884676145339653

In [117]:
from sklearn.metrics import accuracy_score

In [118]:
accuracy_score(y_val,pred)

0.8884676145339653

In [120]:
#We got an accuracy score of around 90% on the validation dataset. Logistic regression has a linear decision boundary. 
#What if our data have non linearity? We need a model that can capture this non linearity. 

#Let's try decision tree algorithm now to check if we get better accuracy with that.

In [121]:
from sklearn.tree import DecisionTreeClassifier

In [122]:
# defining the decision tree model with depth of 4, you can tune it further to improve the accuracy score

clf = DecisionTreeClassifier(max_depth=4, random_state=0)

In [123]:
# fitting the decision tree model
clf.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=4, random_state=0)

In [124]:
# making prediction on the validation set
predict = clf.predict(X_val)

In [125]:
# calculating the accuracy score
accuracy_score(y_val, predict)

0.9042654028436019